In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
lon= pd.read_csv("train_ctrUa4K.csv")
ltest=pd.read_csv("test_lAUu6dG.csv")

In [9]:
print(lon.shape)
print(ltest.shape)

(614, 13)
(367, 12)

In [10]:
print(lon.info())
print(ltest.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
Loan_ID              614 non-null object
Gender               601 non-null object
Married              611 non-null object
Dependents           599 non-null object
Education            614 non-null object
Self_Employed        582 non-null object
ApplicantIncome      614 non-null int64
CoapplicantIncome    614 non-null float64
LoanAmount           592 non-null float64
Loan_Amount_Term     600 non-null float64
Credit_History       564 non-null float64
Property_Area        614 non-null object
Loan_Status          614 non-null object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               356 non-null object
Married              367 non-null object
Dependents           357 non-null object
Education            367 non-null object
Self_Employed        344 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB
None

In [11]:
lon.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [12]:
lon.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [13]:
lon_num=lon.select_dtypes(include=[np.number]) 
lon_cat=lon.select_dtypes(include=[object])

lon_num.shape
lon_num.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,NaN,360.0,1.0
1,4583,1508.0,128.0,360.0,1.0
2,3000,0.0,66.0,360.0,1.0
3,2583,2358.0,120.0,360.0,1.0
4,6000,0.0,141.0,360.0,1.0

In [14]:

lon_cat.shape

(614, 8)

In [15]:
lon_num.shape

(614, 5)

In [16]:
lon_num.isnull().sum()

ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
dtype: int64

In [17]:
lon_cat.isnull().sum()

Loan_ID           0
Gender           13
Married           3
Dependents       15
Education         0
Self_Employed    32
Property_Area     0
Loan_Status       0
dtype: int64

In [18]:

lon_num.mean()

ApplicantIncome      5403.459283
CoapplicantIncome    1621.245798
LoanAmount            146.412162
Loan_Amount_Term      342.000000
Credit_History          0.842199
dtype: float64

In [19]:
lon_num=lon_num.apply(lambda  lon_num:  lon_num.fillna( lon_num.mean()),axis=0)
lon_num.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
0,5849,0.0,146.412162,360.0,1.0
1,4583,1508.0,128.000000,360.0,1.0
2,3000,0.0,66.000000,360.0,1.0
3,2583,2358.0,120.000000,360.0,1.0
4,6000,0.0,141.000000,360.0,1.0

In [20]:
lon_num.isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
dtype: int64

In [21]:
lon_cat=lon_cat.fillna(lon_cat.mode().iloc[0])

In [22]:
lon_cat.isnull().sum()

Loan_ID          0
Gender           0
Married          0
Dependents       0
Education        0
Self_Employed    0
Property_Area    0
Loan_Status      0
dtype: int64

In [23]:
lon_cat.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,Urban,Y
4,LP001008,Male,No,0,Graduate,No,Urban,Y

In [24]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [25]:
lon_cat=lon_cat.apply(le.fit_transform)
lon_cat.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,0,1,0,0,0,0,2,1
1,1,1,1,1,0,0,0,0
2,2,1,1,0,0,1,2,1
3,3,1,1,0,1,0,2,1
4,4,1,0,0,0,0,2,1

In [26]:
lon=pd.concat([lon_num,lon_cat],axis=1)

In [27]:
lon.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
0,5849,0.0,146.412162,360.0,1.0,0,1,0,0,0,0,2,1
1,4583,1508.0,128.000000,360.0,1.0,1,1,1,1,0,0,0,0
2,3000,0.0,66.000000,360.0,1.0,2,1,1,0,0,1,2,1
3,2583,2358.0,120.000000,360.0,1.0,3,1,1,0,1,0,2,1
4,6000,0.0,141.000000,360.0,1.0,4,1,0,0,0,0,2,1

In [28]:
from sklearn.model_selection import train_test_split
X=lon.drop('Loan_Status',axis=1) 
y=lon.Loan_Status

In [29]:
from sklearn.linear_model import LinearRegression   # training data

In [30]:
Lr=LinearRegression()

In [31]:
Lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [32]:
Lr.predict(X)

array([ 7.42884163e-01,  7.97313105e-01,  8.61175339e-01,  7.61801329e-01,
        7.44925508e-01,  7.73739126e-01,  7.76955614e-01,  9.18110551e-02,
        8.27772956e-01,  6.71397703e-01,  8.62404179e-01,  8.40199425e-01,
        7.55186064e-01,  6.84544500e-01,  8.95874717e-01,  7.49710318e-01,
        5.95010946e-01,  6.67156490e-02,  7.46142316e-01,  8.18875423e-01,
        8.22075975e-02,  7.47355106e-01,  3.76505636e-02,  2.66622591e-02,
        6.85751954e-01,  8.15094550e-01,  8.09000454e-01,  7.87485308e-01,
        7.10040946e-01,  7.35723738e-01,  6.87747684e-01,  7.64132619e-01,
        7.19855372e-01,  8.18156007e-01,  6.46144992e-01,  8.23707387e-01,
        1.32652283e-01,  8.29316513e-01,  6.65740506e-01,  6.57102625e-01,
        7.63775599e-01,  7.59906749e-01,  7.51781754e-01,  8.07593117e-01,
        7.97266667e-01,  7.80608764e-01,  8.78915761e-01,  8.48344376e-01,
        1.23816124e-01,  7.23214970e-01,  7.76526533e-01,  7.51288503e-01,
        7.54494124e-01,  8.57179025e-01,  1.20112720e-01,  8.35781741e-01,
        8.25265661e-01,  7.90581941e-01,  8.22815712e-01,  7.63306166e-01,
        8.17186973e-01,  8.69657108e-01,  1.04643074e-02,  1.01178222e-01,
        4.21099902e-02,  7.55292304e-01, -2.62184772e-02,  8.11077522e-01,
        8.30963920e-01,  3.72239093e-02,  8.11480001e-01,  7.65108753e-01,
        7.53649961e-01,  8.03351252e-02,  8.10558152e-01,  7.46727804e-01,
        6.95422404e-01,  8.29545882e-01,  8.49175559e-02,  6.45919993e-01,
        7.57473554e-01,  8.31036798e-01,  8.47403311e-01,  6.65676692e-01,
        8.91839472e-01,  7.08661666e-01,  6.55361787e-01,  8.21581907e-01,
        7.36856179e-01,  7.84900845e-01,  8.07258162e-01,  7.91675829e-01,
        7.94203975e-01,  7.39164975e-01,  7.26063925e-01,  6.41355114e-01,
        8.28527400e-01,  8.47977666e-01,  7.95945278e-01,  8.01111071e-01,
        7.85263783e-01,  6.95860284e-01,  8.59650342e-01,  7.99122091e-01,
        8.41206097e-01,  8.57818843e-01,  8.32137883e-01,  6.61394758e-01,
        9.25544926e-02,  7.74064010e-01,  7.57137776e-01,  8.29629089e-01,
       -4.69062432e-04,  7.55499184e-01,  7.43232903e-01,  8.33783642e-01,
        8.26687385e-01,  7.46614591e-01,  7.88336805e-01,  7.44955484e-01,
        7.82184038e-01,  7.80628770e-01, -4.56430764e-02,  8.58937665e-01,
        7.20773350e-01,  6.35614292e-01,  7.79671112e-01,  7.00941365e-01,
        1.25778674e-01,  6.71425741e-01,  5.02848687e-01,  7.55355207e-01,
        7.56614513e-01,  8.91396384e-01,  7.49677126e-01,  7.31736624e-01,
        8.52185361e-01,  8.42426134e-01,  6.75137604e-03,  7.52258407e-01,
        7.94456399e-01,  7.51697298e-01,  7.47949101e-01,  8.23574590e-01,
        8.75528833e-01,  8.22823203e-01,  9.09672583e-01,  8.76677602e-01,
        7.02875356e-01,  8.36676998e-01,  1.64280094e-02,  7.78694082e-01,
        7.34787581e-01,  7.70479451e-01,  7.84015261e-01,  5.60840251e-02,
        7.08290645e-01,  8.54321123e-01,  7.06603101e-01,  7.55377337e-01,
        7.77748294e-01,  8.26007525e-01,  1.24128090e-01,  8.09835432e-01,
        9.00365032e-01,  7.81891266e-01,  8.47664501e-01,  7.92385312e-01,
        3.77206691e-02,  8.34902959e-01,  7.53495145e-01,  7.59118854e-01,
        8.03199588e-01,  7.76539710e-01,  7.85447748e-01,  8.10857005e-01,
        8.23672272e-01, -6.59740510e-02,  8.52595960e-01, -2.98995367e-02,
        7.38587291e-02,  5.81714870e-01,  8.80080217e-01,  8.36706359e-01,
        8.69055973e-01,  8.29025068e-01,  1.38623728e-01,  7.13190176e-01,
        7.61854147e-01,  8.33625385e-01,  6.88284645e-01,  7.44171262e-01,
        7.96423237e-01,  7.62379969e-01,  7.31487823e-01,  8.14105290e-01,
        6.80244634e-01,  7.00880577e-01,  7.29422700e-01,  7.84026089e-01,
        7.73931309e-01,  3.30454479e-02,  8.26907654e-01,  7.95282362e-01,
        7.93277118e-01,  7.05614492e-01,  7.98177591e-01,  6.63060337e-01,
        7.86715001e-01,  7.49662026e-01,  7.47725700e-01,  1.34363972e-01,
        8.42505786e-01,  7.76344355e-01,  8.36992087e-01,  7.94738444e-01,
        8.08985235e-01,  8.32315886e-01,  1.60677433e-01,  7.39017626e-01,
        1.74786903e-01,  8.44031230e-01,  7.19098228e-01,  8.32937487e-01,
        8.52969563e-01,  8.20042795e-01,  8.03431237e-01,  8.20653723e-01,
        8.32153313e-01,  7.13142558e-01,  8.40701603e-01,  8.74110911e-01,
        6.48293869e-01,  7.30661086e-01,  8.34350699e-01,  8.13893201e-01,
        7.25438900e-01,  6.75922355e-01,  7.58187631e-01,  8.64322665e-01,
        7.95609622e-01,  8.06223595e-01,  7.38732418e-01,  8.33552404e-01,
        7.48487967e-01,  7.50805434e-01,  8.87893306e-01,  8.29998378e-01,
        8.27921576e-01,  8.63789135e-01,  1.87967475e-02,  7.93481428e-01,
        6.55067004e-01,  7.00768634e-01,  5.13642731e-02,  7.26296707e-01,
       -3.47683086e-02,  8.93771105e-01,  7.75180434e-01,  6.89600247e-01,
        6.69750317e-01,  7.30946457e-01,  7.99576806e-01,  7.58104840e-01,
        7.54930441e-01,  6.97219364e-01,  8.43185078e-01,  1.45916631e-01,
        7.51560491e-01,  7.90020784e-01,  8.18847129e-01,  8.78697949e-01,
        7.19229663e-01,  8.27889288e-01,  8.73368033e-01,  8.44730982e-01,
        8.03392848e-01,  8.76034938e-01,  7.80125230e-01,  6.80443174e-01,
       -2.93408846e-02,  8.53982513e-01,  9.03591284e-01,  7.96437450e-01,
        8.46403978e-01,  7.19565699e-01,  7.69537068e-01,  8.21570170e-01,
        7.78878828e-01,  7.27285592e-01,  8.12142331e-01,  1.52839686e-01,
        8.66618027e-01,  6.74692894e-02,  8.13164420e-01,  8.80722437e-01,
        8.44460355e-01,  8.96798430e-01,  7.15283067e-01,  8.55942118e-01,
        8.24181564e-02,  7.84876207e-01,  7.57261737e-01,  8.71585271e-01,
        7.13496939e-01,  7.09381272e-01,  7.39835648e-01,  7.12369374e-02,
        6.56691048e-01,  6.59051665e-01,  7.88865334e-01,  6.78236853e-01,
        7.77397323e-01,  7.57951986e-01,  8.14246803e-01,  8.26165666e-01,
        8.69438750e-01,  7.56822725e-01,  6.73216754e-01,  8.40977010e-01,
        8.42966801e-01,  8.70714082e-01,  7.65054613e-01,  6.16869239e-01,
        8.13401748e-01,  1.89563585e-02,  3.09214312e-02,  8.25665624e-01,
        8.79953741e-01,  8.14375858e-01,  7.71137328e-01,  7.70376529e-01,
        7.96965236e-01,  8.45742484e-01,  8.73217555e-01,  8.37078851e-01,
        8.32803629e-01,  7.90107167e-01,  2.67022730e-02,  7.96530518e-01,
        7.62108043e-01,  7.83168595e-01,  8.03236592e-01,  8.24595458e-01,
        8.28609857e-01,  8.30483676e-01,  3.13290031e-02,  8.05599649e-01,
        6.73500574e-01,  7.67883955e-01,  8.41043960e-01,  6.59728631e-01,
        8.43384539e-01,  1.56131337e-01,  8.75396288e-01,  8.22339828e-01,
        8.15236402e-01,  9.04518609e-01,  8.80616277e-02,  8.25712328e-01,
        7.99637383e-01,  8.07846860e-01,  8.62648120e-01,  7.57790487e-01,
        7.44242021e-01,  6.84589756e-01,  7.62545179e-01,  3.89042163e-02,
        8.58658344e-01,  6.86970451e-01,  8.11570382e-01,  8.66802958e-01,
        7.17127462e-01,  7.96884425e-02,  7.93454322e-01,  8.98149628e-01,
        8.12919593e-01,  7.54874546e-01,  7.90281189e-01,  8.93828448e-01,
        8.43319219e-01,  6.82553133e-01,  7.98182749e-01,  7.88339399e-01,
        9.02013017e-01,  8.12567463e-01,  6.87784944e-01,  7.59768888e-02,
        8.61090966e-01,  8.51792094e-01,  7.47945121e-01,  8.23224500e-01,
        7.56610771e-01,  8.17108197e-01,  8.84855036e-01,  7.56316519e-01,
        1.08464479e-01,  8.83165189e-01,  6.76896957e-01,  6.21826646e-02,
        1.59597172e-01,  7.10449258e-01,  5.83411160e-01,  7.43451588e-01,
        7.51251447e-01,  7.91747938e-01,  8.05650867e-01,  7.21381914e-01,
        1.64217216e-01,  1.44651159e-01,  7.44667707e-01,  7.70840961e-01,
        5.33109730e-02,  7.73187226e-01,  6.62857781e-02,  8.25912203e-01,
        8.01264581e-01,  6.70278133e-01,  8.28288484e-01,  8.55112099e-01,
        8.51787640e-01,  4.68631662e-02,  8.81014613e-01,  1.75511359e-01,
        8.89947396e-01,  8.13101305e-01,  7.24313429e-01,  8.79466187e-01,
        8.64322960e-01,  7.64801392e-01,  7.89396349e-01,  5.03122887e-02,
        7.04094440e-01,  8.45693576e-01,  8.00597282e-01,  9.02129159e-01,
        7.76261431e-01,  8.75831558e-01,  6.79393863e-02,  8.06814612e-01,
        7.09200514e-01,  8.26366978e-01,  6.96955464e-01,  7.97643935e-01,
        6.58413751e-01,  8.44650181e-01,  8.04554322e-01,  8.62568555e-01,
        1.26900350e-01,  5.68438421e-01,  7.44025843e-02,  7.34438237e-01,
        1.21491673e-01,  1.47391947e-01,  7.88942651e-01,  8.91079060e-01,
        8.98187383e-01,  8.57865275e-01,  7.61854520e-01,  8.70934318e-01,
        7.12674221e-01,  9.25872340e-01,  8.28862087e-01,  7.33742604e-01,
        7.30723408e-02,  7.56413421e-01,  1.46945229e-01,  8.92094730e-01,
        8.14637869e-01,  8.78181500e-01,  8.49196717e-01,  9.23883890e-02,
        8.95623800e-01,  7.08483461e-01,  7.12480249e-01,  8.57548655e-01,
        8.47534856e-01,  1.52158086e-01,  8.79663816e-01,  8.82657759e-01,
        7.06550805e-01,  8.09450261e-01,  8.47014049e-01,  8.55000315e-01,
        8.56215167e-01,  7.74169185e-01,  6.71866951e-02,  8.10037237e-01,
        8.55701528e-01,  8.12379283e-01,  5.85290454e-01,  7.00584601e-01,
        7.02597288e-01,  7.15743648e-01,  1.29921507e-01,  9.24500599e-01,
        7.86392982e-01,  7.98995736e-01,  8.90326723e-01, -1.38855466e-02,
        7.33041439e-01,  8.05104884e-01,  8.11720730e-01,  6.35716052e-01,
        8.10587658e-01,  7.93867893e-01,  6.39633829e-01,  8.09397431e-01,
        8.52244434e-01,  8.52665366e-01,  6.94807149e-01,  8.33737300e-01,
        8.81851295e-01,  8.50191316e-01,  6.78923815e-01,  8.33310680e-01,
        8.80851892e-01,  9.02118042e-02,  7.49272962e-01,  7.26295406e-01,
        8.30838880e-01,  8.02285157e-01,  8.67209151e-01,  7.05533645e-01,
        7.58917057e-01,  8.04367267e-01,  8.88391946e-01,  8.92502798e-02,
        7.19818802e-01,  7.22537851e-01,  6.72826046e-01,  9.20730073e-01,
        6.38600345e-02,  6.62151031e-01,  7.67569145e-01,  6.82209129e-01,
        8.13601402e-01,  7.96863421e-01,  8.13693461e-01,  8.86992012e-01,
        8.92580402e-01,  9.63605986e-02,  8.14445652e-01,  8.18785555e-01,
        7.26792785e-01,  8.39309179e-01,  7.67370490e-01,  7.43931341e-01,
        9.82273079e-02,  8.51548255e-01,  1.56162652e-01,  7.77987785e-01,
        8.68516558e-01,  9.15246854e-02,  1.30117628e-01,  9.09254395e-01,
        7.06034048e-01,  8.63047981e-01,  8.51804479e-01,  8.66998884e-01,
        8.33334733e-01,  7.87309834e-01,  8.27104663e-01,  7.23159135e-01,
        1.68421239e-01,  6.95602986e-01,  8.22711178e-01,  1.42726312e-01,
        8.55924084e-01,  1.80868319e-01,  8.77238902e-01,  1.71653033e-01,
        8.83203802e-01,  7.89668327e-01,  8.94072960e-01,  9.41872539e-01,
        1.52207240e-01,  7.86345755e-01,  8.55806077e-01,  7.70715851e-01,
        8.76441570e-01,  4.91346803e-01,  9.31253393e-01,  7.78214763e-01,
        1.36975573e-01,  8.60267421e-01,  8.99757812e-01,  7.58633485e-01,
        8.00437414e-01,  1.87576613e-01,  8.94327353e-01,  8.87291850e-01,
        7.57573099e-01,  8.53571793e-01,  8.81211302e-01,  7.13747670e-01,
        7.89350484e-01,  8.91758963e-02,  8.60763694e-01,  9.00580636e-01,
        2.76631475e-01,  7.74083299e-01,  9.21707659e-01,  7.19085679e-01,
        8.16552145e-01,  8.22679262e-01,  8.58343643e-01,  7.94702877e-01,
        8.59408238e-01,  8.05392101e-01,  9.25135575e-01,  8.81295413e-01,
        9.04755130e-01,  9.48742724e-02])

In [276]:
Lr.score(X,y)

0.31145244464975375

In [277]:
from sklearn.tree import DecisionTreeRegressor   #Decision tree

In [278]:
DT=DecisionTreeRegressor()

In [279]:
DT.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [280]:
DT.score(X,y)

1.0

In [281]:

from sklearn.linear_model import LogisticRegression
from sklearn import metrics                             ## https://towardsdatascience.com/building-a-logistic-regression-in-python-step-by-step-becd4d56c9c8 ##
from sklearn.metrics import classification_report

## Logistic regression, train test, cross validation ##

In [282]:
lg = LogisticRegression()
        ## Logistic regression ##

In [283]:
lg.fit(X, y)

C:\Users\hp\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [284]:
lg.score(X,y)

0.8110749185667753

In [285]:
lg.predict(X)

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0])

In [286]:
print(classification_report(y,lg.predict(X)))

              precision    recall  f1-score   support

           0       0.91      0.44      0.59       192
           1       0.79      0.98      0.88       422

   micro avg       0.81      0.81      0.81       614
   macro avg       0.85      0.71      0.73       614
weighted avg       0.83      0.81      0.79       614

In [287]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=135)
rfc.fit(X, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=135, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [288]:
rfc_pred = rfc.predict(X)
rfc.score(X,y)

1.0

In [289]:
print(classification_report(y,rfc_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       192
           1       1.00      1.00      1.00       422

   micro avg       1.00      1.00      1.00       614
   macro avg       1.00      1.00      1.00       614
weighted avg       1.00      1.00      1.00       614

In [290]:
rfc.score(X,y)

1.0

In [291]:
ltest.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [293]:
ltest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
Loan_ID              367 non-null object
Gender               356 non-null object
Married              367 non-null object
Dependents           357 non-null object
Education            367 non-null object
Self_Employed        344 non-null object
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [294]:
lt_num=ltest.select_dtypes(include=[np.number]) 
lt_cat=ltest.select_dtypes(include=[object])

In [295]:
lt_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 5 columns):
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           362 non-null float64
Loan_Amount_Term     361 non-null float64
Credit_History       338 non-null float64
dtypes: float64(3), int64(2)
memory usage: 14.4 KB

In [296]:
lt_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 7 columns):
Loan_ID          367 non-null object
Gender           356 non-null object
Married          367 non-null object
Dependents       357 non-null object
Education        367 non-null object
Self_Employed    344 non-null object
Property_Area    367 non-null object
dtypes: object(7)
memory usage: 20.1+ KB

In [297]:
lt_num=lt_num.apply(lambda  lt_num:  lt_num.fillna( lt_num.median()),axis=0)

In [298]:
lt_cat=lt_cat.fillna(lt_cat.mode().iloc[0])

In [299]:
lt_num.isnull().sum()

ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
dtype: int64

In [300]:
lt_cat.isnull().sum()

Loan_ID          0
Gender           0
Married          0
Dependents       0
Education        0
Self_Employed    0
Property_Area    0
dtype: int64

In [301]:
ltest=pd.concat([lt_num,lt_cat],axis=1)

In [302]:
ltest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           367 non-null float64
Loan_Amount_Term     367 non-null float64
Credit_History       367 non-null float64
Loan_ID              367 non-null object
Gender               367 non-null object
Married              367 non-null object
Dependents           367 non-null object
Education            367 non-null object
Self_Employed        367 non-null object
Property_Area        367 non-null object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [303]:
from sklearn.preprocessing import LabelEncoder

In [304]:
le=LabelEncoder()

In [305]:
ltest=ltest.apply(le.fit_transform)

In [306]:
ltest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
ApplicantIncome      367 non-null int64
CoapplicantIncome    367 non-null int64
LoanAmount           367 non-null int64
Loan_Amount_Term     367 non-null int64
Credit_History       367 non-null int64
Loan_ID              367 non-null int32
Gender               367 non-null int32
Married              367 non-null int32
Dependents           367 non-null int32
Education            367 non-null int32
Self_Employed        367 non-null int32
Property_Area        367 non-null int32
dtypes: int32(7), int64(5)
memory usage: 24.4 KB

In [307]:
x=ltest

In [308]:
Lir=Lr.predict(x)

In [309]:
Lir

array([ 0.89881291,  0.89742722,  0.88621662,  0.90703921,  0.74361554,
        0.82236384,  0.74887219,  0.08282129,  0.88371367,  0.71323569,
        0.7417603 ,  0.87104395,  0.82375039,  0.16172898,  0.79470006,
        0.79884995,  0.88738092,  0.88681543,  0.87548604,  0.78351899,
        0.85321477,  0.77909528,  0.80381867,  0.75123557,  0.87674979,
        0.03954809,  0.90044052,  0.87784819,  0.89433756,  0.79757859,
        0.74496572,  0.89093409,  0.77221225,  0.8894717 ,  0.90436065,
        0.05669198,  0.89182774,  0.90468223,  0.80002247,  0.795798  ,
        0.90570675,  0.82023377,  0.82502379,  0.76523705,  0.82663474,
        0.88603335,  0.82765802,  0.72149209,  0.78624284,  0.81302199,
        0.90303807,  0.82875553,  0.87491656,  0.92507659,  0.84437453,
        0.08757964,  0.71577916,  0.88525461,  0.18069302,  0.90092324,
        0.82220207,  0.89976147,  0.79268098,  0.0719193 ,  0.84810866,
        0.87846328,  0.1049585 ,  0.16958806,  0.87044155,  0.13671943,
        0.80808731,  0.7980078 ,  0.90282144,  0.84569575,  0.81466887,
        0.79452807,  0.88961557,  0.77982132,  0.88568962,  0.9081631 ,
        0.19139736,  0.89305073,  0.09022174,  0.84770603,  0.17158307,
        0.87684782,  0.90118956,  0.79300926,  0.73940277,  0.76900844,
        0.86285011,  0.8556374 ,  0.87564892,  0.83504784,  0.17619234,
        0.91633254,  0.88901308,  0.88149283,  0.92994919,  0.88302764,
        0.7665412 ,  0.19077392,  0.91148422,  0.82749376,  0.79085529,
        0.88920276,  0.0948934 ,  0.87910644,  0.88407045,  0.83393385,
        0.8074317 ,  0.8959757 ,  0.83004042,  0.91051854,  0.8588899 ,
        0.78882158,  0.7303435 ,  0.16931173,  0.11641726,  0.14625382,
        0.8222844 ,  0.86306349,  0.91477609,  0.04297945,  0.09324865,
        0.79081822,  0.1091524 ,  0.89891203,  0.82242529,  0.84201707,
        0.90874647,  0.7695279 ,  0.87708312,  0.83824715,  0.82028471,
        0.90936978,  0.87240088,  0.8745594 ,  0.79432723,  0.82314456,
        0.05335293,  0.88692257,  0.14088303,  0.86823648,  0.85952029,
        0.82175121,  0.73724867, -0.01877095,  0.89170087,  0.80506293,
        0.79839697,  0.91392384,  0.76771579,  0.13993555,  0.89230379,
        0.72674222,  0.8988976 ,  0.87106316,  0.78242514,  0.80645651,
        0.75749518,  0.09062975,  0.81501471,  0.80554902,  0.78774332,
        0.0081931 ,  0.04402863,  0.90918409,  0.21433121,  0.90588898,
        0.79588138,  0.81736481,  0.87102495,  0.09223987,  0.10272964,
        0.87184014,  0.85435026,  0.80706282,  0.87802963,  0.91101043,
        0.89205341,  0.88481208,  0.92464351,  0.88459215,  0.91802519,
        0.83022057,  0.8325469 ,  0.88542847,  0.81372728,  0.86193074,
        0.89634201,  0.82304529,  0.09560554,  0.10982414,  0.87800428,
        0.81685066,  0.19053741,  0.81672499,  0.21528685,  0.88492643,
        0.88082461,  0.87144864,  0.92277854,  0.91784431,  0.8256953 ,
        0.89722107,  0.8872979 ,  0.89589229,  0.84507552,  0.72421487,
        0.85042784,  0.05170838,  0.90032117,  0.77371705,  0.81685721,
        0.84794192,  0.837349  ,  0.86394826,  0.86497543,  0.9206846 ,
        0.92192554,  0.81046227,  0.87244406,  0.79448716,  0.09638183,
        0.84845458,  0.92449237,  0.88927048,  0.77924212,  0.15330215,
        0.79809042,  0.8140413 ,  0.89954671,  0.82969057,  0.9416274 ,
        0.09598468,  0.10600385,  0.82955485,  0.84880726,  0.83473478,
        0.76286695,  0.19391262,  0.90676925,  0.16956518,  0.77036772,
        0.18248452,  0.91902545,  0.92145456,  0.85209545,  0.80132888,
        0.21464237,  0.9161417 ,  0.82198359,  0.9295297 ,  0.94470647,
        0.07220188,  0.9095649 ,  0.9124341 ,  0.87643498,  0.81340391,
        0.83887993,  0.90710084,  0.79144933,  0.87158237,  0.87913983,
        0.80027074,  0.17086976,  0.7431423 ,  0.19575437,  0.79261559,
        0.89281655,  0.78435176,  0.79131805,  0.19805636,  0.11772572,
        0.91874455,  0.92011652,  0.82690464,  0.12868034,  0.79386061,
        0.80595399,  0.88657023,  0.84006459,  0.72495181,  0.9258484 ,
        0.90936304,  0.81954528,  0.79083407,  0.82242754,  0.92755567,
        0.89643507,  0.92648778,  0.73379649,  0.2389264 ,  0.86462555,
        0.93405439,  0.81222282,  0.73574575,  0.86996085,  0.89455069,
        0.94074861,  0.21788113,  0.79378103,  0.8400137 ,  0.91563602,
        0.7404912 ,  0.88261063,  0.83384594,  0.8843851 ,  0.90577785,
        0.82313636,  0.0953667 ,  0.83373793,  0.89083805,  0.84389683,
        0.91759582,  0.90883784,  0.16560445,  0.72782241,  0.82945914,
        0.88810296,  0.87091672,  0.95017472,  0.82956567,  0.90030649,
        0.10598156,  0.85134763,  0.93015818,  0.89330794,  0.91918392,
        0.88796577,  0.92038507,  0.87621282,  0.93171175,  0.92844307,
        0.85441127,  0.77929858,  0.93208867,  0.90259735,  0.08814777,
        0.90991163,  0.77738145,  0.85054361,  0.94564002,  0.78335157,
        0.92325865,  0.17884526,  0.78228416,  0.87275021,  0.88996407,
        0.88324274,  0.79754634,  0.93661773,  0.89444425,  0.1402509 ,
        0.92845506,  0.94519934,  0.84847757,  0.85004238,  0.80673816,
        0.95626436,  0.9236042 ,  0.88100901,  0.93645005,  0.81397857,
        0.88713979,  0.80209745])

In [310]:
Lg1=lg.predict(x)

In [311]:
Lg1

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [314]:
DT1=DT.predict(x)

In [315]:
DT1

array([0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0.,
       0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       1., 0., 0., 0., 1., 0., 1., 1., 1., 0., 0., 1., 1., 1., 0., 1., 1.,
       0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1.,
       0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1., 1.,
       1., 0., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0.,
       0., 0., 0., 1., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1.,
       1., 1., 0., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 1., 0., 1., 1.,
       1., 0., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1.,
       1., 0., 0., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 1., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 1., 0., 1., 0., 0., 1., 0., 1., 0., 0., 1., 0., 0., 1., 1., 1.,
       1., 0., 0., 1., 0., 1., 0., 1., 1., 0., 0., 1., 1., 0., 0., 1., 0.,
       1., 1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 1., 1., 0.,
       0., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
       0., 0., 1., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 1.,
       0., 1., 1., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 1.,
       0., 0., 1., 0., 0., 1., 1., 0., 1., 0., 0., 0., 0., 0., 1., 1., 0.,
       0., 1., 0., 0., 0., 1., 0., 0., 0., 1.])

In [318]:
rfc1=rfc.predict(x)
rfc1

array([1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0])

In [319]:
r1=pd.DataFrame(rfc1)
r1[0].unique()

array([1, 0], dtype=int64)

In [320]:
pd.DataFrame(Lg1).to_csv("C:/Users/hp/hack/Lon_pred")

In [321]:
s=pd.read_csv("Lon_pred")

In [322]:
s.head()

   Unnamed: 0  0
0           0  1
1           1  1
2           2  1
3           3  1
4           4  1

In [323]:
s[0].unique()

KeyError: 0

In [33]:
s

NameError: name 's' is not defined